@use '../../index.module.scss' as notice;

.container {
    @include notice.layer-container(1001);
}

.icon-wrapper {
    @include notice.icon-wrapper;
}

.icon-circle {
    @include notice.icon-circle($color-error-primary);
}

.icon-line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 3px;
    background: $color-error-primary;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.container:not(.hidden) {
    .icon-circle {
        animation: scale-in 0.3s ease-out forwards;
    }

    .icon-line {
        &:nth-child(2) {
            animation: rotate-line-1 0.3s ease-out 0.3s forwards;
        }

        &:last-child {
            animation: rotate-line-2 0.3s ease-out 0.3s forwards;
        }
    }
}

.message {
    @include notice.layer-message;
}

@keyframes rotate-line-1 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes rotate-line-2 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
