.input-container {
    position: relative;

    // scss 中使用 :global 要用这种方式

    /* :global(.weui-input:-webkit-autofill),
    :global(.weui-input:-webkit-autofill:hover),
    :global(.weui-input:-webkit-autofill:focus),
    :global(.weui-input:-webkit-autofill:active) {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: inherit !important;
        transition: background-color 5000s ease-in-out 0s;
    } */

    // 不能像 less 那样：

    /* :global {
        .weui-input:-webkit-autofill,
        .weui-input:-webkit-autofill:hover,
        .weui-input:-webkit-autofill:focus,
        .weui-input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
            -webkit-text-fill-color: inherit !important;
            transition: background-color 5000s ease-in-out 0s;
        }
    } */

    .eye {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        color: #999;
        font-size: 18px;
        z-index: 2;
    }
}
