@use '../../index.module.scss' as notice;

.container {
    @include notice.layer-container(1000);
}

.spinner {
    @include notice.icon-wrapper;

    border: 3px solid rgb(var(--color-brand-primary) / 10%);
    border-radius: 50%;
    border-top-color: $color-brand-primary;
    animation: spin 0.8s linear infinite;
}

.message {
    @include notice.layer-message;

    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
