.container {
    height: 100%;
    background-image:
        linear-gradient(to top, $color-on, $color-on), linear-gradient(to top, $color-bg-primary, $color-bg-primary);
    background-size:
        100% var(--safe-area-inset-bottom, 20px),
        100% 100%;
    background-position: bottom, top;
    background-repeat: no-repeat;
    color: $color-text-primary;
}
