$nav-icon-size: 20px;

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    height: 0;
}

.bottom-nav {
    width: 100%;
    height: 52px;
    background: $color-on;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -1px 2px rgb(var(--color-off) / 10%);
    z-index: 1000;
    overflow: hidden;
}

.nav-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-text-secondary;
    font-size: $size-text-xs;

    .icon {
        font-size: $nav-icon-size;
        margin-bottom: 4px;
    }

    &.active {
        color: $color-brand-primary;
    }
}

.text {
    font-size: $size-text-xs;
}
