.container {
    /* background-color: #; */
    height: 100%;

    .main {
        height: 100%;
        padding: $size-space-lg;
        padding-top: 120px;

        .card {
            width: 100%;
            background: $color-on;
            border-radius: 10px;
            box-shadow: 0 1px 3px rgb(var(--color-off) / 10%);
            padding: 24px;

            .header {
                width: 100%;
                font-size: $size-text-md;
                font-weight: 600;

                @include flex-center;

                line-height: 32px;
            }

            .sub-title {
                @include flex-center;

                font-size: $size-text-sm;
                margin-top: 8px;
                margin-bottom: 24px;
            }

            .group {
                margin-bottom: 16px;

                .label {
                    font-size: $size-text-sm;
                    margin-bottom: 8px;
                    font-weight: 500;
                }
            }

            .login {
                height: 48px;
                background: $color-brand-primary;
                border: none;
                border-radius: 8px;
                color: white;
                font-size: $size-text-base;
                font-weight: 500;

                /* overflow: initial; */
                cursor: pointer;
                transition: all 0.2s;
                margin-top: 24px;

                @include flex-center;

                &::after {
                    border-radius: 16px;
                }
            }

            .btn-disabled {
                background: $color-bg-primary;
                cursor: not-allowed;
                color: $color-text-tertiary;
            }
        }
    }
}
