.container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.wrapper {
    height: 100%;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    position: relative;
    transition: transform 0.2s cubic-bezier(0, 0, 0.31, 1);
    z-index: 1;
}

.indicator {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s cubic-bezier(0, 0, 0.31, 1);
    z-index: 0;
}

.dots {
    text-align: center;
    height: 30px;
    line-height: 10px;

    > div {
        background-color: #808080;
        border-radius: 100%;
        width: 6px;
        height: 6px;
        margin: 3px;
        display: inline-block;
    }
}

.refreshing .dots > div {
    animation: indicator 0.5s linear infinite both;

    &:nth-child(1) {
        animation-delay: -0.2s !important;
    }

    &:nth-child(2) {
        animation-delay: -0.3s !important;
    }

    &:nth-child(3) {
        animation-delay: -0.4s !important;
    }
}

@keyframes indicator {
    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}
